<script src="../../Scripts/jquery-1.6.2.js" type="text/javascript"></script> 
<script src="../../Scripts/vote.js" type="text/javascript"></script> 
<h2>
    Team Building Vote</h2>

<table>
    <tr>
        <td>Opt 1.</td>
        <td>Hiking</td>
        <td><input type="checkbox" /></td>
        <td>3</td>
    </tr>       
    <tr>
        <td>Opt 2.</td>
        <td>Swimming</td>
        <td><input type="checkbox" value=""/></td>
        <td>3</td>    
    </tr>
    <tr>
        <td>Opt 3.</td>
        <td>KTV</td>
        <td><input type="checkbox" /></td>
        <td>4</td>    
    </tr>
    <tr>
        <td>Opt 4.</td>
        <td>Dinner</td>
        <td><input type="checkbox" /></td>
        <td>5</td>    
    </tr>
</table>
<input type="submit" id="voteButton" value="Vote"/>